<section>
  <div class="mx-auto max-w-screen-xl 2xl:px-0">
    <div class="mx-auto">
      <div class="pt-4 gap-4 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-xl font-semibold text-primary-900 sm:text-2xl"><%= t('.title') %></h2>
      </div>
    </div>
  </div>
</section>
