<% if current_cart.label_price %>
  <span class="block text-right"><%= number_to_currency(current_cart.label_price_price) %></span>
<% else %>
  <span class="text-xs sm:text-sm text-red-600 font-medium text-right block"><%= t('.without_label_price') %></span>
<% end %>
