<% if current_cart.items.any? %>
  <%= link_to t('link_to_checkout', scope: 'carts.show'), new_order_path, data: { turbo: false }, class: 'drawer--link-to' %>
<% else %>
  <p class="text-center text-gray-500"><%= t('empty', scope: 'carts.show') %></p>
<% end %>
