<div data-search-target="loading" class="hidden text-center py-12">
  <div class="inline-block animate-spin rounded-full h-8 w-8 border-b-2 border-primary-600"></div>
  <p class="mt-2 text-sm text-primary-700"><%= t('.searching') %></p>
</div>
